<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>TRIVIA</h2>

  <div class="facts">
    <h3>facts: <span style="font-weight:normal"><%= fact %></span></h3>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>